<p>To get started with our demo, please use the downloaded
<br> docker compose file for IdentityServer4 V2 which is included in the ZIP.

<br> And follow the <a target="_blank" href="https://www.identityserver.com/documentation/admin-ui/installation-docker/installing-adminui/">Installing AdminUI instructions.</a>
<p>

<p>
The Docker registry credentials for the demo are:
<br>
<br><strong>Command Line:</strong> <code>docker login identityserverregistry.azurecr.io</code>
<br><strong>Username:</strong> <code>683f3315-1945-4bfa-8373-e760034ad4da</code>
<br><strong>Password:</strong> <code>YgB3T4kaLKfV</code>
</p>

<p>
Please remember that this software is in demo mode and is not suitable for production. This AdminUI demo supports the creation of 10 users.
<br>If you experience any issues, please feel free to contact us at <a href="mailto:support@identityserver.com?subject=Docker%20Support">support@identityserver.com</a>

<p>Thank you again for downloading the AdminUI demo and your continued support.<br />Rock Solid Knowledge.<p>
